---
# vim:path=./../_includes
---
<!DOCTYPE html>
<html>
    <head>
    {% include meta.html %}
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="assets/vendor.js?v={{ site.time | date: "%Y%M%d%H%M%S" }}"></script>
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
(adsbygoogle = window.adsbygoogle || []).push({
google_ad_client: "ca-pub-4567235926847257",
enable_page_level_ads: true
});
</script>
    </head>
    
    <body class='all'>

    <div class='article-body formatted-content'>
          <div class='article-header'>
            <i class='logo'></i>
          </div>
        {{content}}
    </div>
</body>
</html>
