---
# vim:path=./../_includes
---
<!DOCTYPE html>
<html><head>
    {% include meta.html %}
    <script src="assets/vendor.js?v={{ site.time | date: "%Y%M%d%H%M%S" }}"></script>
    </head>
    <body class='all'>

    {% include top-nav.html %}
    {% include hero-shot.html %}

    <section class='section'>
      <div class='in formatted-content'>
        {{content}}
      </div>
    </section>
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
      (adsbygoogle = window.adsbygoogle || []).push({
        google_ad_client: "ca-pub-4567235926847257",
        enable_page_level_ads: true
      });
    </script>
</body>
</html>
